.company_wrapper {
width: 90%;
line-height: 50px;
}

.company_item {
display: flex;
margin-right: 15%;
text-align: left;
}

.company_item span {
width: 20%;
margin-left: 40%;
font-weight: bold;
font-size: 1.25rem;
text-align: left;
}


.company_item p {
width: 50%;
border-bottom: 1px solid #CCCCCC;
}

.map_link {
color: #FF8856;
}
